html {
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
}

#wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@font-face {
    font-family: Archive;
    src: url(../fonts/archive.ttf);
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 80px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../gif/preloader.gif) no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

.slide {
    opacity: 0;
    display: block;
    width: 100%;
    font-size: 3.9em;
    font-family: 'Archive';
    position: absolute;
    text-align: center;
    margin-top: 1000px;
}

#slide_three > span {
    /* make it glow! */
    text-shadow: 0px 0px 10px white;

}

#down-wrapper {
    opacity: 0;
    position: fixed;
    animation: anim 2s;
    bottom: 50px;
    width: 100%;
    height: 100px;
    transition: 0.5s;
}

#down-inner {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

#down-inner:hover {
    transition: 0.5s;
    margin-top: 10px;
}

#down-inner > a {
    display: block;
    background: url("../photo/photo_index/down_arrow.png") 0 0 no-repeat;
    box-shadow: 0 0 10px #fff;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.mute {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: url("../photo/photo_index/mute.png") 0 0 no-repeat;
}

.sound {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: url("../photo/photo_index/sound.png") 0 0 no-repeat;
}